body {
  margin-top: 60px;
}

footer {
  height: 5%; background-color: #f0f0f0;
  color: #515151;
}

/* container for a single event */
.event_container {}

.days_left_div {}

.event_name_div {}

.event_duedate_div {
  font-style: italic;
  font-size: 12pt;
}

.remove_div {
  text-align: center; justify-content: center;
  cursor: pointer;
}
