/* container for a single event */
.event_container {
  flex: 0 1 100%;
  display: flex; flex-direction: row; justify-content: space-between;
}

.days_left_div {
  flex: 0 1 15%;
}

.event_name_div {
  flex: 0 1 40%;
}

.event_duedate_div {
  flex: 0 1 25%;
  font-style: italic;
  font-size: 12pt;
}

.remove_div {
  flex: 0 1 auto; text-align: center; justify-content: center;
  cursor: pointer;
}
