html, body {
  font-size: 14pt; font-family: sans-serif;
  color: #515151;
  overflow: hidden;
  margin: 0px; padding: 0px;
}

input {
  font-size: 12pt;
}

/* input form styling */
input[type=text]{
  width: 100%;
  padding: 6px 14px;
  box-sizing: inherit;
  border: thin solid #515151; border-radius: 15px;
}

input[type=date]{
  width: 100%; padding: 6px 14px;
  border: thin solid #515151; border-radius: 15px;
}

input[type=time]{
  width: 100%; padding: 6px 14px;
  border: thin solid #515151; border-radius: 15px;
}

input[type=button], input[type=submit] {
  background-color: #007399; color: #f8f8f8;
  text-decoration: none;
  margin: 0px 2px; padding: 28px 26px;
  cursor: pointer; border: none;
  border-radius: 10px;
  width: 80%; height: 90%;
}

input[type=button]:hover, input[type=submit]:hover {
  border: thin solid #007399; background-color: white;
  color: #007399;
  transition: .5s;
}

table {
  width: 90vw;
}

/* container for a single event */
.event_container {
  width: 100%; min-width: 50vw;
  display: flex; flex-direction: row; justify-content: space-between;
  padding: 1%; margin-top: .5%; margin-bottom: .5%;
  border: thin solid #515151; border-radius: 10px;
}

.days_left_div {
  flex: 0 1 15%;
}

.event_name_div {
  flex: 0 1 40%;
}

.event_duedate_div {
  flex: 0 1 25%;
  font-style: italic;
  font-size: 12pt;
}

.remove_div {
  flex: 0 1 auto; text-align: center;
  width: 22px; height: 22px; justify-content: center;
  background-color: #e62e00; border-radius: 20px;
  color: #f8f8f8;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.input_container_collapser_control {
  flex: 0 1 5%; border-right: thin solid #515151;
}

.collapseable_container {
  flex:0 1 100%; display: flex; flex-direction: row;
  min-height: 15vh;
}

.collapse_info {
  display: none; flex: 0 1 auto; justify-content: flex-start;
  text-align: left; padding-left: 2%;
  font-size: 12pt; font-style: italic;
}

/* input container layout */
.input_container {
  flex: 0 1 80%; display: flex; flex-direction: column;
  justify-content: flex-start; margin-right: 1%;
}

.input_container_row {
  flex: 0 1 auto; display: flex; flex-direction: row;
  justify-content: flex-start; margin-bottom: 1%;
}

.input_container_label {
  flex: 0 1 auto; min-width: 10vw; display: flex;
  justify-content: center;
  flex-direction: column; text-align: center;
}

.input_container_event {
  flex: 0 1 auto; min-width: 70vw;
  display: flex; justify-content: center;
}

.input_container_datetime {
  flex:0 1 auto; min-width: 30vw;
  display: flex; justify-content: center;
}

.input_container_submit {
  flex: 0 1 20%; display: flex; flex-direction: column;
  justify-content: flex-start; text-align: center;
}

.nav_item {
  flex: 0 1 33%; display: flex; flex-direction: column;
  justify-content: center; color: #f8f8f8; font-size: 13pt;
}

/* flex layout */
#main_app_wrapper {
  width: 100vw; height: 100vh;
  display: flex; flex-direction: column; justify-content: flex-start;
}

.row{
  flex: 0 1 auto; display: flex; flex-direction: row;
  /* border: thin solid black; /* TODO remove this is for debugging only */
}

.header_row {
  min-height: 7vh; height: auto;
  padding: 0px .5%;
}

.input_row {
  justify-content: flex-start;
  /* min-height: 15vh;  */
  padding: 1%;
  /* border: thin solid #515151; */
}

.controls_row {
  justify-content: space-between; padding: 0px .5%;
  min-height: 5vh;
  background-color: #efefef;
}

.controls_item {
  display: flex; flex-direction: column;
  justify-content: center; text-align: center;
}

.display_row {
  justify-content: center; height: 68vh;
  padding-left: 1%; padding-right: 1%;
  overflow-y: auto;
}

.footer_row {
  justify-content: center; height: 5vh;
  display: flex; flex-direction: row; justify-content: space-between;
  padding: 0px .5%;
  font-size: 10pt;
}

.footer_element {
  flex: 0 1 auto; display: flex; flex-direction: column;
  justify-content: center;
}

/* display event wrapper */
.display_event_wrapper {
  flex: 0 1 90%; display: flex;
  justify-content: flex-start; flex-direction: column;
}

#collapse-control {
  cursor: pointer;
}

/* alignment and styling */

.backgroundcolor {
  background-color: #007399; color: #f8f8f8;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.italic { font-style: italic; }

.button {
  border: thin solid #515151; border-radius: 10px;
  padding: 0px .5%; cursor: pointer;;
}

.disabled {
  cursor: default; opacity: .5;
}

a { text-decoration: none; color: inherit; font-style: italic; }
a:focus { text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: underline; }
